$bg-pinkdark: #7F4E5A;
$bg-pink: #b73958;
$bg-pinkmiddle: #CC4062;
$bg-pinksemilight: #FF4F7B;
$bg-pinklight: #FF9CB4;

$bg-light: #e8ece9;
$bg-semilight: #aeaeae;
$bg-middlelight: #8b8b8b;

$tablet-width: 768px;
$desktop-width: 1024px;
$mobile-width-only: 767px;